<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js" defer></script>
    <!-- <script src="hamburger.js"></script> -->
    <!-- <script src="index.js"></script> -->
    <title>Shop</title>
</head>
<div id="app">
    <body>
        <header class="header">
            <div class="container">
                <search-component v-model="searchLine"></search-component>
                <button-basket-component @change-visible-basket="changeVisibleBasket">Basket</button-basket-component>
            </div>
        </header>
        <main>
            <p class="search-text">
                {{ searchLine }}
            </p>
            <div v-if="filteredProducts.length > 0" class="products-list container-content">
                <products-component :products="filteredProducts"></products-component>
            </div>
            <div v-else class="container-content plug-text">
                <h4>
                    Нет данных
                </h4>
            </div>
        </main>
        <basket-component :visible-basket="isVisibleCart" @change-visible-basket="changeVisibleBasket"></basket-component>
    </body>
</div>
</html>
